<h1>This is a demo</h1>
<app-lifecycle [title]="title" *ngIf="flag"></app-lifecycle>

<br>
<hr>
这是父组件
<button (click)="changeTitle()">改变父组件的title</button>
<br>
<br>
<button (click)="changeFlag()">卸载及挂载组件</button>
<br>
切换路由时也会触发ngOnDestroy
<br>
<hr>
<nav>
  <ul>
    <li><a routerLink="/first-component" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li>
<!--    <li><a routerLink="/lifecycle-component" routerLinkActive="active">Lifecycle Component</a></li>-->
  </ul>
</nav>

<router-outlet></router-outlet>
